extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2
			a(href='/news/post/' + post.slug)
				= post.title
		p(itemprop='description')!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/news/post/' + post.slug)
				| Continue reading&nbsp;
				i.fa.fa-angle-double-right

block intro
	.container: header.jumbotron.intel-jumbo
		h1= data.category ? data.category.name : 'Intel'
		p.tagline The latest intelligence and news from the frontlines

block content
	.container: .row
		.col-sm-8.col-md-9.no-mobile-padding
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					.blog
						each post in data.posts.results
							+post(post)
						if user && user.canAccessKeystone
							a(href="/keystone/posts?new", data-no-instant).btn.btn-primary.btn-create.full-width
								i.fa.fa-pencil &nbsp;
								| Create post

					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.entypo.entypo-chevron-thin-left
							else
								li.disabled: a(href='?page=' + 1): span.entypo.entypo-chevron-thin-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.entypo.entypo-chevron-thin-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.entypo-chevron-thin-right
				else
					.alert.alert-info
						if data.category
							p. There are no posts in the category #{data.category.name}.
						else
							p. There are no posts yet.
					if user && user.canAccessKeystone
							a(href="/keystone/posts?new", data-no-instant).btn.btn-primary.btn-create.full-width
								i.fa.fa-pencil &nbsp;
								| Create post

		if data.categories.length
			.col-sm-4.col-md-3.no-mobile-padding
				.list-group
					a(href='/news', class=!data.category ? 'active' : false).list-group-item All Categories
					each cat in data.categories
						a(href='/news/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
					if user && user.canAccessKeystone
						a(href="/keystone/post-categories?new", data-no-instant).list-group-item
								i.fa.fa-pencil &nbsp;
								| Create Category
